<li [attr.aria-expanded]="expanded" role="treeitem">
    <button (click)="expanded = !expanded" [disabled]="!item.hijos.length"
        style="font-family:'Open Sans', 'Helvetica Neue', sans-serif;">
        <span class="icono" [attr.ariaLabel]="expanded ? 'Collapse' : 'Expand'"
            [style.opacity]="!this.item.hijos.length ? '.5' : ''" [innerHTML]="icon"></span>
    </button>
    <span (dblclick)="expanded = !expanded">
        <span>
            <span style="cursor: pointer;" class="name" tabindex="0" [id]="'id'+this.item.id.toString()" (click)="click($event)"
                (click)="testVal = item.id">{{item.nombre}}
            </span>
            <b [innerHTML]="checked" [attr.ariaLabel]="'Caratula'"></b>
        </span>
        <a href="#" *ngIf="!item.hijos.length" class="c-link"
            style="margin-left: 30px;"><small>{{item.file}}</small></a>
    </span>
    <ul role="group" *ngIf="item.hijos.length">
        <app-item *ngFor="let hijo of item.hijos; idx as idx" [(ngModel)]="testVal" [item]="hijo" [parametro]="parametro" appReplaceTag>
        </app-item>
    </ul>
</li>
