

li {
  list-style: none;
  padding: 10px;
  font-size: 1.2rem;
}

ul{
  padding-left: 40px;
}

button{
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
}


[role="treeitem"][aria-expanded="false"] > ul {
  display: none;
}

[role="treeitem"][aria-expanded="true"] > ul{
  display: block;
}

.icono{
  font-size: 1.1rem;
  cursor: pointer;
}

.defaultCursor{
  cursor: default;
}

