<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="implementación de nav con todos parametros parametrizados"></app-implementation-info>

<desy-nav [items]="getItems()"
          [classes]="classes"
          [isMenu]="isMenu"
          [idPrefix]="idPrefix"
          (clickEvent)="handleClickEvent($event)"
          [role]="role"
          [ariaLabel]="ariaLabel"
          [ariaDescribedBy]="ariaDescribedBy"
          [ariaLabelledBy]="ariaLabelledBy"
          [ariaHidden]="ariaHidden"
          [ariaDisabled]="ariaDisabled"
          [ariaControls]="ariaControls"
          [ariaCurrent]="ariaCurrent"
          [ariaLive]="ariaLive"
          [ariaExpanded]="ariaExpanded"
          [ariaErrorMessage]="ariaErrorMessage"
          [ariaHasPopup]="ariaHasPopup"
          [tabindex]="tabindex"></desy-nav>
<p *ngIf="selectedItem">Seleccionado {{selectedItem.text}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" [nameProperty]="'idPrefix'" [(target)]="idPrefix"></app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'isMenu'" [(target)]="isMenu"> </app-input-boolean>
    <app-input-text [nameComponent]="nameComponent" [nameProperty]="'classes'" [(target)]="classes"></app-input-text>
  </div>
  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaExpanded)]="ariaExpanded"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(ariaHasPopup)]="ariaHasPopup"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
  <div>
    <app-title-params  titleparams="Parámetros de un nav"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div>
        <app-title-params></app-title-params>
        <app-input-text nameComponent="itemCustom" [nameProperty]="'text'" [(target)]="itemCustom.text"></app-input-text>
        <app-input-text nameComponent="itemCustom" [nameProperty]="'href'" [(target)]="itemCustom.href"></app-input-text>
        <app-input-text nameComponent="itemCustom" [nameProperty]="'routerLink'" [(target)]="itemCustom.routerLink"></app-input-text>
        <app-input-text nameComponent="itemCustom" [nameProperty]="'fragment'" [(target)]="itemCustom.fragment"></app-input-text>
        <app-input-text nameComponent="itemCustom" [nameProperty]="'target'" [(target)]="itemCustom.target"></app-input-text>
        <app-input-text nameComponent="itemCustom" [nameProperty]="'html'" [(target)]="itemCustom.html"></app-input-text>
        <app-input-text nameComponent="itemCustom" [nameProperty]="'id'" [(target)]="itemCustom.id"></app-input-text>
        <app-input-boolean nameComponent="itemCustom" [nameProperty]="'active'" [(target)]="itemCustom.active"> </app-input-boolean>
        <app-input-boolean nameComponent="itemCustom" [nameProperty]="'disabled'" [(target)]="itemCustom.disabled"> </app-input-boolean>
        <app-input-boolean nameComponent="itemCustom" [nameProperty]="'divider'" [(target)]="itemCustom.divider"> </app-input-boolean>
        <app-input-text nameComponent="itemCustom" [nameProperty]="'classes'" [(target)]="classes"></app-input-text>
      </div>
    </details>
  </div>
  <div>
    <app-accessibility-inputs title="Parámetros de accesibilidad de un nav"
                              [(role)]="itemCustom.role"
                              [(ariaLabel)]="itemCustom.ariaLabel"
                              [(ariaDescribedBy)]="itemCustom.ariaDescribedBy"
                              [(ariaLabelledBy)]="itemCustom.ariaLabelledBy"
                              [(ariaHidden)]="itemCustom.ariaHidden"
                              [(ariaDisabled)]="itemCustom.ariaDisabled"
                              [(ariaControls)]="itemCustom.ariaControls"
                              [(ariaCurrent)]="itemCustom.ariaCurrent"
                              [(ariaLive)]="itemCustom.ariaLive"
                              [(ariaExpanded)]="itemCustom.ariaExpanded"
                              [(ariaErrorMessage)]="itemCustom.ariaErrorMessage"
                              [(ariaHasPopup)]="itemCustom.ariaHasPopup"
                              [(tabindex)]="itemCustom.tabindex"></app-accessibility-inputs>
  </div>
</div>
