<app-title-demo [name]="nameComponent"></app-title-demo>

<div>
  <app-implementation-info info="Implementación simple"></app-implementation-info>
  <desy-item [title]="{'text' : 'Registro de alta de la asociación'}"></desy-item>
</div>
<div>
  <app-implementation-info info="Implementación con html"></app-implementation-info>
  <desy-item [title]="{'html' : titleHtml}"></desy-item>
</div>
<div>
  <app-implementation-info info="Implementación con descripción"></app-implementation-info>
  <desy-item [title]="{'html' : titleHtml}" [description]="{'html': descriptionHtml}"></desy-item>
</div>
<div>
  <app-implementation-info info="Implementación con items"></app-implementation-info>
  <desy-item [title]="{'html' : titleHtml}" [items]="['Desde modelo', 'Obligatorio previo a resolución', 'Condicionado']"></desy-item>
</div>
<div>
  <app-implementation-info info="Implementación con content"></app-implementation-info>
  <desy-item [title]="{'html' : titleHtml}" [content]="{'html': contentHtml, 'classes': 'text-sm text-neutral-dark'}"></desy-item>
</div>
<div>
  <app-implementation-info info="Implementación arrastable"></app-implementation-info>
  <desy-item [title]="{'html' : titleHtml}" [isDraggable]="true"></desy-item>
</div>
<div>
  <app-implementation-info info="Implementación con tipo documento"></app-implementation-info>
  <desy-item [title]="{'html' : titleHtml}" [icon]="{'type': 'document'}"></desy-item>
</div>
<div>
  <app-implementation-info info="Implementación bloqueado"></app-implementation-info>
  <desy-item [title]="{'html' : titleHtml}" [isLocked]="true"></desy-item>
</div>
<div>
  <ng-template #caller1>
    <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button>
    <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
  </ng-template>

  <app-implementation-info info="Implementación con caller y todos los parametros parametrizados"></app-implementation-info>
  <desy-item
    [title]="title"
    [description]="description"
    [items]="items"
    [content]="content"
    [icon]="icon"
    [isDraggable]="isDraggable"
    [isLocked]="isLocked"
    [id]="id"
    [classes]="classes"
    [caller]="caller1"
    [role]="role"
    [ariaLabel]="ariaLabel"
    [ariaDescribedBy]="ariaDescribedBy"
    [ariaLabelledBy]="ariaLabelledBy"
    [ariaHidden]="ariaHidden"
    [ariaDisabled]="ariaDisabled"
    [ariaControls]="ariaControls"
    [ariaCurrent]="ariaCurrent"
    [ariaLive]="ariaLive"
    [ariaExpanded]="ariaExpanded"
    [ariaErrorMessage]="ariaErrorMessage"
    [ariaHasPopup]="ariaHasPopup"
    [tabindex]="tabindex"></desy-item>
</div>

<app-spaced withBorder></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de componente"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="c-button--alert uppercase ..." nameProperty="classes" [(target)]="classes"></app-input-text>
        <app-input-boolean nameComponent="nameComponent" nameProperty="isDraggable" [(target)]="isDraggable"> </app-input-boolean>
        <app-input-boolean nameComponent="nameComponent" nameProperty="isLocked" [(target)]="isLocked"> </app-input-boolean>
      </div>
    </details>
    <app-title-params titleparams="Parámetros de title"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="text" [(target)]="title.text"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="title.html"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="classes" [(target)]="title.classes"></app-input-text>
      </div>
    </details>
    <app-title-params titleparams="Parámetros de description"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="text" [(target)]="description.text"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="description.html"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="classes" [(target)]="description.classes"></app-input-text>
      </div>
    </details>
    <app-title-params titleparams="Parámetros de content"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="text" [(target)]="content.text"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="content.html"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="classes" [(target)]="content.classes"></app-input-text>
      </div>
    </details>
    <app-title-params titleparams="Parámetros de icon"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" placeholder="document, clipboard, link" nameProperty="type" [(target)]="icon.type"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="icon.html"></app-input-text>
      </div>
    </details>
    <app-title-params titleparams="Parámetros de items"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <p>Número de items</p>
        <input type="number" class="c-input form-input block mt-sm" [ngModel]="items.length" (ngModelChange)="changeItems($event)" min="0" max="3">
      </div>
    </details>
  </div>

  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaExpanded)]="ariaExpanded"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(ariaHasPopup)]="ariaHasPopup"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
</div>
